.App {
}


.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  text-align: center;
}

.page-wrapper
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.page
{

}

.menu-button:not(:first-child)
{
  margin-left: 25px;
}

.decoy_menu
{
  display: flex;
  flex-direction: row;
}

.decoy_button:not(:first-child)
{
  margin-left: 25px;
}

.form-wrapper
{
  display: flex;
  flex-direction: column;

}

.home_buttons
{
  display: flex;
  flex-direction: row;
}


.home-button
{
  margin-right: 20px;
}

.paths-done-list
{
  font-size: 10px;
}